:root {

  --font-family: 'Fira Code', 'Noto Sans SC', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Droid Sans', 'Fira Sans', 'Helvetica Neue', sans-serif;

  --font-family-code: 'Fira Code', 'Fira Sans', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

}

.link-item .content {
  height: 70%;
}