body {
  font-family: 'Fira Code', monospace, 'Noto Sans SC', sans-serif, var(--font-family) !important;
}

code {
  font-family: 'Fira Code', monospace, 'Noto Sans SC', sans-serif, var(--font-family-code) !important;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace, var(--font-family-code);
}

.theme-gungnir-content {
  .line-number {
    font-family: 'Fira Code', monospace, var(--font-family-code);
  }
}