@font-face {
  font-family: 'Fira Code';
  src: url('https://geichan.github.io/fonts/FiraCode-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('https://geichan.github.io/fonts/NotoSerifSC-Regular.otf') format("truetype");
}