@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('NotoSerifSC-Regular.otf') format("truetype");
}